@model KurumsalEntityLayer.Entity.PageCategory

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Panel/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar Sayfası</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Resim
        </dt>

        <dd>
            <img src="@Model.ImageURL" style="max-width:70%;" />
            <hr />
        </dd>

        <dt>
            Kategori Adı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PageCategoryname)
            <hr />
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.MetaDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaDescription)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MetaKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MetaKey)
            <hr />
        </dd>

        <dt>
            Aktiflik
        </dt>

        <dd>
            @if (Model.IsActive == true)
            {
                <div class="aktif"></div>
                <h6>Aktif</h6>
            }
            else
            {
                <div class="pasif"></div>
                <h6>Pasif</h6>

            }

        </dd>

    </dl>
</div>
<p>
    <a href="~/Panel/PageCategory/Edit/@Model.PageCategoryID" class="btn btn-warning"><i class="fa fa-pencil"></i> Düzenle</a>
</p>
<hr />

<p>
    <a href="~/Panel/PageCategory/index" class="btn btn-default"><i class="fa fa-sign-out"></i> Listeye Dön</a>

</p>
